@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #DBF227, #9FC131);
}
main { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #64792091;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 2px #0215208a;
}

h2 {
    color: #005C53;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* { 
    text-align: justify;
}